<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://schema.slothsoft.net/farah/module">
<assets>
	<resource-directory name="data" path="data" type="application/x-php"/>
	<resource-directory name="css" path="stylesheet" type="text/css"/>
	<resource-directory name="js" path="script" type="application/javascript"/>
	<resource-directory name="xsl" path="template" type="application/xslt+xml"/>
	
	
	<fragment name="empty">
		<include-fragment ref="/default" />
	</fragment>

	<fragment name="bahn">
		<param name="standalone" scope="global" />
		<use-template ref="xsl/_bahn" />
		<use-data ref="data/bahn" />
	</fragment>

	<fragment name="slothsoft-chat">
		<param name="chat-database" value="slothsoft" />
		<use-template ref="//chat/xsl/shoutbox" />
		<use-data ref="//chat/default" as="chat" />
	</fragment>

	<fragment name="missing-sloth-chat">
		<param name="chat-database" value="missingsloth" />
		<use-template ref="xsl//chat/shoutbox" />
		<use-data ref="//chat/default" as="chat" />
	</fragment>

	<fragment name="archive-chat">
		<param name="chat-database" value="archive" />
		<use-template ref="xsl//chat/shoutbox" />
		<use-data ref="//chat/default" as="chat" />
	</fragment>

	<fragment name="home">
		<include-fragment ref="default" />
		<fragment name="content">
			<use-template ref="xsl/home" />
		</fragment>
		<use-data ref="slothsoft-chat" as="chat" />
	</fragment>

	<fragment name="about-us">
		<include-fragment ref="/default" />
		<fragment name="content">
			<use-template ref="xsl/about-us" />
			<resDir name="staff" load="xml" />
		</fragment>
	</fragment>

	<fragment name="missingSloth">
		<include-fragment ref="/default" />
		<use-data ref="//extensions/home-missingSloth" as="content" />
		<use-data ref="/missing-sloth-chat" as="chat" />
	</fragment>

	<fragment name="chat-list">
		<include-fragment ref="/default" />
		<fragment name="content">
			<use-template ref="xsl/chat-list" />
			<use-data ref="/slothsoft-chat" as="chat" />
			<use-data ref="//minecraft/chat" as="chat" />
			<use-data ref="//amber/chat" as="chat" />
			<use-data ref="//talesof/chat" as="chat" />
			<use-data ref="/fire-emblem-chat" as="chat" />
			<use-data ref="/missing-sloth-chat" as="chat" />
		</fragment>
	</fragment>

	<fragment name="imprint">
		<include-fragment ref="/default" />
		<fragment name="content">
			<use-template ref="xsl/address" />
			<res name="owner" load="xml" />
		</fragment>
	</fragment>


	<fragment name="navi">
		<use-template ref="xsl/navi" />
		<use-data ref="//core/sites" load="xml" />
	</fragment>

	<fragment name="pc">
		<param name="standalone" scope="global" />
		<use-template ref="xsl/_pc" />
		<use-data ref="data/pc" />
		<use-stylesheet ref="css/default" />
		<use-stylesheet ref="css/fonts" />
		<use-script ref="js//core/html5" />
	</fragment>

	<fragment name="validator">
		<use-template ref="xsl/w3c.validator" />
	</fragment>
	<fragment name="dict.select">
		<use-template ref="xsl/dict.select" />
		<!--
		<res name="lang-de-de" load="xml" />
		<res name="lang-en-us" load="xml" />
		-->
	</fragment>

	<fragment name="downloads">
		<use-template ref="xsl/_downloads" />
		<use-stylesheet ref="css/default" />
		<use-stylesheet ref="css/layout" />
		<use-stylesheet ref="css/fonts" />
		<use-data ref="data/downloads" />
	</fragment>
	<fragment name="archive">
		<use-template ref="xsl/_archive" />
		<use-data ref="data/archive" />
		<use-stylesheet ref="css/default" />
		<use-stylesheet ref="css/layout" />
		<use-stylesheet ref="css/fonts" />
		<use-stylesheet ref="css/colors" />
		<use-stylesheet ref="css/archive" />
		<include-fragment ref="//sse/script" />
		<use-script ref="js/Unison" />
		<use-data ref="/archive-chat" as="chat" />
		<use-script ref="js//core/HTML5" />
	</fragment>
	<fragment name="archive-hentai">
		<use-template ref="xsl/_archive.hentai" />
		<use-data ref="data/archive.hentai" />
		<use-stylesheet ref="css/default" />
		<use-stylesheet ref="css/layout" />
		<use-stylesheet ref="css/fonts" />
		<use-stylesheet ref="css/colors" />
		<use-stylesheet ref="css/archive" />
	</fragment>
	<fragment name="archive-manga">
		<use-template ref="xsl/_archive.hentai" />
		<use-data ref="data/archive.manga" />
		<use-stylesheet ref="css/default" />
		<use-stylesheet ref="css/layout" />
		<use-stylesheet ref="css/fonts" />
		<use-stylesheet ref="css/colors" />
		<use-stylesheet ref="css/archive" />
	</fragment>

	<fragment name="unicode-mapper">
		<include-fragment ref="/default" />
		<fragment name="content">
			<include-fragment ref="//core/DOM" />
			<use-script ref="js/UnicodeMapper" />
			<use-template ref="xsl/unicode-mapper" />
		</fragment>
	</fragment>

	<fragment name="kana-home">
		<include-fragment ref="/default" />
		<fragment name="content">
			<res name="/core/sites" load="xml" />
			<use-template ref="xsl/kana-home" />
		</fragment>
		<!--<use-data ref="/slothsoft-chat" as="chat"/> -->
	</fragment>

	<fragment name="kana-table">
		<include-fragment ref="/default" />
		<fragment name="content">
			<use-template ref="xsl/kana" />
			<use-stylesheet ref="css/kana" />
			<res name="kana" load="xml" />
		</fragment>
	</fragment>

	<fragment name="kana-translator">
		<include-fragment ref="/default" />
		<fragment name="content">
			<use-template ref="xsl/kana-translator" />
			<use-stylesheet ref="css/kana" />
			<include-fragment ref="//core/DOM" />
			<use-script ref="js/Translator" />
			<res name="kana" load="xml" />
		</fragment>
	</fragment>

	<fragment name="kana-test">
		<include-fragment ref="/default" />
		<fragment name="content">
			<use-template ref="xsl/kana-test" />
			<use-data ref="data/kana.test" />
			<use-stylesheet ref="css/kana" />
			<include-fragment ref="//core/DOM" />
		</fragment>
	</fragment>

	<fragment name="kana-vocab">
		<include-fragment ref="/default" />
		<fragment name="content">
			<use-template ref="xsl/kana-vocab" />
			<use-data ref="data/kana.vocab" />
			<use-stylesheet ref="css/kana" />
			<include-fragment ref="//core/DOM" />
			<use-script ref="js/Translator" />
			<use-script ref="js/Vocab" />
			<use-script ref="js/VocabTest" />
		</fragment>
	</fragment>
	<fragment name="kana-vocab-mobile">
		<use-template ref="xsl/_default" />
		<res name="/core/sites" load="xml" />
		<use-stylesheet ref="css/default" />
		<use-stylesheet ref="css/colors" />
		<use-stylesheet ref="css/layout" />
		<fragment name="content">
			<use-template ref="xsl/kana-vocab" />
			<use-data ref="data/kana.vocab" />
			<use-stylesheet ref="css/kana" />
			<use-stylesheet ref="css/kana-mobile" />
			<include-fragment ref="//core/DOM" />
			<use-script ref="js/Translator" />
			<use-script ref="js/Vocab" />
			<use-script ref="js/VocabTest" />
		</fragment>
	</fragment>
	<fragment name="vocab-words-log">
		<use-template ref="xsl/vocab-log" />
		<use-data ref="data/kana.vocab" />
	</fragment>
	<fragment name="vocab-kanji-log">
		<use-template ref="xsl/vocab-log" />
		<use-data ref="data/vocab.kanji" />
	</fragment>
	<fragment name="vocab-list-add">
		<include-fragment ref="/default" />
		<fragment name="content">
			<use-template ref="xsl/vocab-list-add" />
			<use-data ref="data/kana.vocab" />
			<use-stylesheet ref="css/kana" />
			<include-fragment ref="//core/DOM" />
			<use-script ref="js/Translator" />
		</fragment>
	</fragment>

	<fragment name="vocab-kanji">
		<include-fragment ref="/default" />
		<fragment name="content">
			<use-template ref="xsl/vocab-kanji" />
			<use-data ref="data/vocab.kanji" />
			<use-stylesheet ref="css/kana" />
			<include-fragment ref="//core/DOM" />
			<use-script ref="js/Translator" />
			<use-script ref="js/Vocab" />
			<use-script ref="js/VocabTest" />
		</fragment>
	</fragment>
	<fragment name="vocab-kanji-mobile">
		<use-template ref="xsl/_default" />
		<res name="/core/sites" load="xml" />
		<use-stylesheet ref="css/default" />
		<use-stylesheet ref="css/colors" />
		<use-stylesheet ref="css/layout" />
		<fragment name="content">
			<use-template ref="xsl/vocab-kanji" />
			<use-data ref="data/vocab.kanji" />
			<use-stylesheet ref="css/kana" />
			<use-stylesheet ref="css/kana-mobile" />
			<include-fragment ref="//core/DOM" />
			<use-script ref="js/Translator" />
			<use-script ref="js/Vocab" />
			<use-script ref="js/VocabTest" />
		</fragment>
	</fragment>

	<fragment name="vocab-words-test">
		<include-fragment ref="/default" />
		<fragment name="content">
			<use-template ref="xsl/vocab.test" />
			<use-data ref="data/kana.vocab" />
			<use-stylesheet ref="css/kana" />
			<include-fragment ref="//core/DOM" />
			<use-script ref="js/Translator" />
			<use-script ref="js/Vocab" />
			<use-script ref="js/VocabTest" />
		</fragment>
	</fragment>
	<fragment name="vocab-kanji-test">
		<include-fragment ref="/default" />
		<fragment name="content">
			<use-template ref="xsl/vocab.test" />
			<use-data ref="data/vocab.kanji" />
			<use-stylesheet ref="css/kana" />
			<include-fragment ref="//core/DOM" />
			<use-script ref="js/Translator" />
			<use-script ref="js/Vocab" />
			<use-script ref="js/VocabTest" />
		</fragment>
	</fragment>

	<fragment name="vocab-verbs">
		<include-fragment ref="/default" />
		<fragment name="content">
			<use-template ref="xsl/vocab-grammar" />
			<use-data ref="data/vocab-grammar-verbs" />
			<use-stylesheet ref="css/kana" />
			<include-fragment ref="//core/DOM" />
			<use-script ref="js/Translator" />
		</fragment>
	</fragment>
	<fragment name="vocab-verbs-old">
		<include-fragment ref="/default" />
		<fragment name="content">
			<use-template ref="xsl/vocab-grammar" />
			<res name="japanese-faulo-verbs" load="xml" />
			<use-stylesheet ref="css/kana" />
			<include-fragment ref="//core/DOM" />
			<use-script ref="js/Translator" />
		</fragment>
	</fragment>


	<fragment name="english-vocab">
		<include-fragment ref="/default" />
		<fragment name="content">
			<use-template ref="xsl/english-vocab" />
			<use-data ref="data/english.vocab" />
			<use-stylesheet ref="css/kana" />
			<include-fragment ref="//core/DOM" />
			<use-script ref="js/Translator" />
		</fragment>
	</fragment>


	<fragment name="tetris">
		<include-fragment ref="/default" />
		<fragment name="content">
			<use-template ref="xsl/tetris" />
			<res name="tetris" />
			<scriptDir name="Tetris/" />
		</fragment>
	</fragment>

	<fragment name="fire-emblem-home">
		<include-fragment ref="/default" />
		<fragment name="content">
			<use-template ref="xsl/fire-emblem-home" />
		</fragment>
		<use-data ref="/fire-emblem-chat" as="chat" />
	</fragment>
	<fragment name="fire-emblem-breeding">
		<include-fragment ref="/default" />
		<fragment name="content">
			<use-template ref="xsl/fire-emblem-breeding" />
			<use-data ref="data/fire-emblem" />
			<use-script ref="js/FireEmblem" />
		</fragment>
		<use-data ref="/fire-emblem-chat" as="chat" />
	</fragment>
	<fragment name="fire-emblem-cast">
		<include-fragment ref="/default" />
		<fragment name="content">
			<use-template ref="xsl/fire-emblem-cast" />
			<use-data ref="data/fire-emblem" />
		</fragment>
		<use-data ref="/fire-emblem-chat" as="chat" />
	</fragment>
	<fragment name="fire-emblem-chat">
		<param name="chat-database" value="fireemblem" />
		<use-template ref="xsl//chat/shoutbox" />
		<use-data ref="//chat/default" as="chat" />
	</fragment>

	<fragment name="backend-colors">
		<include-fragment ref="/default" />
		<use-data ref="//minecraft/status" as="status" />
		<fragment name="content">
			<use-template ref="xsl/backend.colors" />
			<use-script ref="js/CSS" />
			<include-fragment ref="//core/DOM" />
			<use-script ref="js/Backend" />
		</fragment>
	</fragment>

	<fragment name="deviantart">
		<use-template ref="xsl/deviantart" />
		<use-data ref="data/deviantart" />
		<param name="standalone" scope="global" />
	</fragment>

	<fragment name="heartbeat-for-all">
		<include-fragment ref="/default" />
		<fragment name="content">
			<use-template ref="xsl/heartbeat-for-all" />
		</fragment>
		<use-data ref="/slothsoft-chat" as="chat" />
	</fragment>
	<fragment name="heartbeat-for-all.game">
		<include-fragment ref="/default" />
		<fragment name="content">
			<use-template ref="xsl/heartbeat-for-all.game" />
		</fragment>
	</fragment>
	<resource name="heartbeat-for-all-zip" path="heartbeat-for-all/HeartbeatForAll.zip"
		type="application/zip" />
	<resource name="heartbeat-for-all-unity" path="heartbeat-for-all/Web.unity3d"
		type="application/vnd.unity" />

	<fragment name="music">
		<resDir name="music-mp3" />
		<resDir name="music-lyrics" load="xml" />
		<use-template ref="xsl/_music" />
		<param name="standalone" scope="global" />
		<use-script ref="js//core/HTML5" />
		<use-stylesheet ref="css/default" />
	</fragment>

	<fragment name="writing">
		<param name="standalone" scope="global" />
		<use-template ref="xsl/writing" />
		<use-stylesheet ref="css/fonts" />
	</fragment>


	<!--<resource name="KanjiStrokeOrders-truetype" path="fonts/KanjiStrokeOrders.ttf" 
		type="application/x-ttf"/> -->
	<resource name="finnish-faulo" path="finnish.faulo.xhtml"
		type="application/xhtml+xml" />
	<resource name="japanese-faulo" path="japanese.faulo.xhtml"
		type="application/xhtml+xml" />
	<resource name="japanese-faulo-verbs" path="japanese.faulo.verbs.xml"
		type="application/xml" />
	<resource name="english-julia" path="english.julia.xhtml"
		type="application/xhtml+xml" />

	<resource name="kana" path="kana.xml" type="application/xml" />
	<resource name="vocab.kanji.map" path="vocab.kanji.map.svg"
		type="image/svg+xml" />

	<resource name="sites" path="sites.xml" type="application/xml" />
	<resource name="sites-backend" path="sites.backend.xml" type="application/xml" />
	<resource name="sites-downloads" path="sites.downloads.xml"
		type="application/xml" />
	<resource name="sites-vocab" path="sites.vocab.xml" type="application/xml" />

	<resource name="pc" path="pc.xml" type="application/xml" />
	<resource name="prefFonts" path="fonts.json" type="application/json" />
	<resource name="owner" path="owner.xml" type="application/xml" />
	<resourceDir name="fonts" path="fonts" type="application/font-sfnt" />
	<resourceDir name="icons" path="icons" type="image/png" />
	<resourceDir name="system-fonts" path="system-fonts"
		type="application/font-sfnt" />

	<resource name="lang-de-de" path="lang/de-de.svg" type="image/svg+xml" />
	<resource name="lang-en-us" path="lang/en-us.svg" type="image/svg+xml" />
	<resource name="lang-ja-jp" path="lang/ja-jp.svg" type="image/svg+xml" />
	<resourceDir name="lang" path="lang" type="image/svg+xml" />


	<resource name="fire-emblem" path="fire-emblem.xml" type="application/xml" />
	<resourceDir name="fire-emblem-data" path="fire-emblem"
		type="text/csv" del="|" sep="" output="table" min-length="1" />

	<resourceDir name="fire-emblem-por" path="fire-emblem-por"
		type="text/csv" del="|" sep="" output="table" min-length="1" />
	<resourceDir name="fire-emblem-sd" path="fire-emblem-sd"
		type="text/csv" del="|" sep="" output="table" min-length="1" />
	<resourceDir name="fire-emblem-bs" path="fire-emblem-bs"
		type="text/csv" del="|" sep="" output="table" min-length="1" />
	<resourceDir name="fire-emblem-ss" path="fire-emblem-ss"
		type="text/csv" del="|" sep="" output="table" min-length="1" />
	<resourceDir name="fire-emblem-aw" path="fire-emblem-aw"
		type="text/csv" del="|" sep="" output="table" min-length="1" />
	<resourceDir name="fire-emblem-rd" path="fire-emblem-rd"
		type="text/csv" del="|" sep="" output="table" min-length="1" />

	<resource name="fire-emblem-shadow-dragon" path="FireEmblemShadowDragon.csv"
		type="text/csv" del="|" sep="" cols="13" output="table" />
	<resource name="fire-emblem-shadow-dragon2" path="FireEmblemShadowDragon2.csv"
		type="text/csv" del="|" sep="" cols="9" output="table" />
	<resource name="fire-emblem-path-of-radiance" path="FireEmblemPathOfRadiance.csv"
		type="text/csv" del="|" sep="" cols="9" output="table" />
	<resource name="fire-emblem-path-of-radiance2" path="FireEmblemPathOfRadiance2.txt"
		type="text/plain" />

	<resourceDir name="staff" path="staff" type="application/xml" />
	<resourceDir name="staff-avatars" path="staff" type="image/png" />

	<resource name="unicode-mapper" path="unicode-mapper.xml"
		type="application/xml" />
	<resource name="unicode-mapping" path="unicode-mapping.xml"
		type="application/xml" />

	<resourceDir name="pics" path="pics" type="image/png" />

	<resource name="favicon" path="favicon.png" type="image/png" />
	<resourceDir name="games" path="games" type="application/zip" />
	<resourceDir name="unity" path="games" type="application/vnd.unity" />

	<resourceDir name="music-mp3" path="music-mp3" type="audio/mpeg" />
	<resourceDir name="music-lyrics" path="music-lyrics" type="text/plain" />

	<resourceDir name="vocab-ja" path="vocab-ja" type="audio/mpeg" />
	<resourceDir name="vocab-jlpt" path="vocab-jlpt" type="application/xhtml+xml" />
	<resource name="grammar-ja" path="japanese.grammar.xml" type="application/xml" />

	
	
	<fragment name="default">
		<use-template ref="xsl/_default" />
		<use-data ref="//core/sites" load="xml" />
		<use-stylesheet ref="css/default" />
		<use-stylesheet ref="css/fonts" />
		<use-stylesheet ref="css/colors" />
		<use-stylesheet ref="css/layout" />
		<use-data ref="navi" />
		<use-data ref="validator" />
		<use-data ref="dict.select" />
		<include-fragment ref="//core/HTML5" />
	</fragment>
	
</assets>
</module>
