@font-face {
	font-family: myHeading;
	src: local("Bitstream Cyberbit");
}
@font-face {
	font-family: mySpecialHeading;
	src: local("CopperplateGothicBT-Bold");
} 
@font-face {
	font-family: myParagraph;
	src: local("Calibri");
}
@font-face {
	font-family: myBody;
	src: local("Calibri");
}
@font-face {
	font-family: myNumber;
	src: local("Consolas");
}
@font-face {
	font-family: myTime;
	src: local("Consolas");
}
@font-face {
	font-family: myCode;
	src: local("CourierNewPSMT");
}
@font-face {
	font-family: myPixel;
	/*src: local("Press Start"), url(/getAsset.php/slothsoft/static/fonts/PrStart);*/
	src: local("Press Start K"), url(/getAsset.php/slothsoft/static/fonts/prstartk);
}
@font-face {
	font-family: myOldschool;
	/* https://www.fontzillion.com/fonts/petyka/retro-computer */
	src: local("Verily Serif Mono"), url("/getAsset.php/slothsoft/static/fonts/VerilySerifMono");
	/*src: local("Amberworld"), url("/getAsset.php/slothsoft/static/fonts/Amberworld");*/
}
@font-face {
	font-family: myKanjiStroke;
	src: local("KanjiStrokeOrders"), url(/getAsset.php/slothsoft/static/fonts/KanjiStrokeOrders) format("truetype");
}
@font-face {
	font-family: myKanjiSansSerif;
	src:local("HiraKakuPro-W3"),
		local("Hiragino Kaku Gothic Pro W3"),
		local("ヒラギノ角ゴ Pro W3"),
		local("Meiryo"),
		local("MS PGothic");
}
@font-face {
	font-family: myKanjiSerif;
	src:local("HiraMinPro-W3"),
		local("Hiragino Mincho Pro W3"),
		local("ヒラギノ明朝 Pro W3"),
		local("MS PMincho");
}
@font-face {
	font-family: myUnicodeSymbols;
	src: local("Segoe UI Symbol"), url(/getAsset.php/slothsoft/static/fonts/seguisym) format("truetype");
}
@font-face {
	font-family: myUnicodeLetters;
	src:local("Quivira"), url(/getAsset.php/slothsoft/static/fonts/Quivira) format("truetype");
}
h1, h2, h3, h4, h5, h6, .myHeading {
	font-family: myHeading, serif; /*, myUnicodeSymbols, myUnicodeLetters; */
	/*font-weight: normal;*/
}
p, button, input, .myParagraph {
	font-family: myParagraph, serif;
}
button, input {
	font-size: 1em;
}
body, .myBody {
	font-family: myBody, sans-serif;
}
textarea, samp, code, pre, .myCode {
	font-family: myCode, monospace;
}
time, .myTime {
	font-family: myTime, monospace;
	font-size: smaller;
}